/*Author: Popov Volodymyr from Ukraine*/
@import "_clear";
@import "fonts";
@import "header";
@import "_breadcrumb";

/*------------------------------------start basic settings-------------------------*/
body {
  background: #e5e5e5;
}

.container {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}
